@model ProductCatalogViewModel

@{
    ViewData["Title"] = "Product Catalog";
}

@{
    int CalculateNumberOfPages(long count, long pageSize)
    {
        if (count <= 0L)
        {
            return 1;
        }

        var numberOfPages = count / pageSize;

        if (count % pageSize != 0L)
        {
            numberOfPages += 1;
        }

        return (int)numberOfPages;
    }

    var numberOfPages = CalculateNumberOfPages(Model.ProductPage.Count, Model.ProductPage.PageSize);
    var currentPageNumber = Model.ProductPage.PageNumber;
    var pageSize = Model.ProductPage.PageSize;
}

<section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <div class="mb-4 items-end justify-between space-y-4 sm:flex sm:space-y-0 md:mb-8">
            <div>
                <h2 class="mt-3 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Products</h2>
            </div>
        </div>

        <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
            @foreach (var product in Model.ProductPage.Items)
            {
                @await Component.InvokeAsync("ProductCard", new { product = product, showFeaturedTag = false })
            }
        </div>

        <div class="flex flex-row w-full justify-center">
            <nav aria-label="Product catalog pagination">
                <ul class="inline-flex -space-x-px text-base h-10">
                    @if (currentPageNumber == 1)
                    {
                        <li>
                            <a class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Home" asp-action="ProductCatalog" asp-route-pageNumber="@(currentPageNumber - 1)" asp-route-pageSize="@pageSize" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                        </li>
                    }

                    @if (numberOfPages <= 6)
                    {
                        @for (var pageNumber = 1; pageNumber <= numberOfPages; ++pageNumber)
                        {
                            if (pageNumber == currentPageNumber)
                            {
                                <li>
                                    <a aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">@pageNumber</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    @{
                                        var number = pageNumber;
                                    }
                                    <a asp-controller="Home" asp-action="ProductCatalog" asp-route-pageNumber="@number" asp-route-pageSize="@pageSize" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">@number</a>
                                </li>
                            }
                        }
                    }
                    else
                    {
                        if (currentPageNumber == 1)
                        {
                            <li>
                                <a aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">1</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Home" asp-action="ProductCatalog" asp-route-pageNumber="@(1)" asp-route-pageSize="@pageSize" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                            </li>
                        }

                        @if (currentPageNumber > 2 + 1)
                        {
                            <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></a>
                        }

                        for (var pageNumber = int.Max(2, currentPageNumber - 1); pageNumber <= int.Min(numberOfPages - 1, currentPageNumber + 1); pageNumber++)
                        {
                            if (pageNumber == currentPageNumber)
                            {
                                <li>
                                    <a aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">@pageNumber</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    @{
                                        var number = pageNumber;
                                    }
                                    <a asp-controller="Home" asp-action="ProductCatalog" asp-route-pageNumber="@number" asp-route-pageSize="@pageSize" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">@number</a>
                                </li>
                            }
                        }

                        @if (currentPageNumber < numberOfPages - 1)
                        {
                            <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></a>
                        }

                        if (currentPageNumber == numberOfPages)
                        {
                            <li>
                                <a aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">@numberOfPages</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Home" asp-action="ProductCatalog" asp-route-pageNumber="@numberOfPages" asp-route-pageSize="@pageSize" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">@numberOfPages</a>
                            </li>
                        }
                    }

                    @if (currentPageNumber == numberOfPages)
                    {
                        <li>
                            <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Home" asp-action="ProductCatalog" asp-route-pageNumber="@(currentPageNumber + 1)" asp-route-pageSize="@pageSize" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>


    </div>
</section>