@using RookieShop.FrontStore.Modules.ImageGallery
@model RookieShop.FrontStore.Models.Products.ProductDetailsViewModel
@inject ImageGalleryUrlResolver ImageGalleryUrlResolver

@{
    ViewData["Title"] = Model.Product.Name; 
}

<section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
        <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
            <div id="gallery" class="relative h-full aspect-square" data-carousel="slide">
                <div class="relative overflow-hidden rounded-lg h-full">
                    <div class="hidden duration-700 ease-in-out aspect-square h-full" data-carousel-item>
                        <img src="@ImageGalleryUrlResolver.ResolveImageUrl(Model.Product.PrimaryImageId)" width="100%" class="absolute block aspect-square object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="@Model.Product.Name">
                    </div>
                    
                    @foreach (var supportingImageId in Model.Product.SupportingImageIds)
                    {
                        <div class="hidden duration-700 ease-in-out h-full" data-carousel-item>
                            <img src="@ImageGalleryUrlResolver.ResolveImageUrl(supportingImageId)" width="100%" class="absolute block aspect-square object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="@Model.Product.Name">
                        </div>
                    }
                </div>
                
                <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>

            <div class="mt-6 sm:mt-8 lg:mt-0">
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
                    @Model.Product.Name (@Model.Product.AvailableQuantity units available)
                </h1>
                
                <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
                    <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white">
                        $@Model.Product.Price.ToString("F2")
                    </p>

                    <div class="flex items-center gap-2 mt-2 sm:mt-0">
                        @await Component.InvokeAsync("RatingStars", new { stars = (int)Math.Round(Model.Product.Rating.Score), isBig = true })

                        <p class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">
                            (@Model.Product.Rating.Score)
                        </p>
                        <a class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white">
                            @Model.Product.Rating.Count Reviews
                        </a>
                    </div>
                </div>

                <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
                    @await Component.InvokeAsync("AddToCartButton", new { product = Model.Product })
                </div>

                <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800"/>

                <p class="mb-6 text-gray-500 dark:text-gray-400">
                    @Model.Product.Description
                </p>
            </div>
        </div>
    </div>
</section>

@{
    var onePercentage = 0.0;
    var twoPercentage = 0.0;
    var threePercentage = 0.0;
    var fourPercentage = 0.0;
    var fivePercentage = 0.0;

    if (Model.Product.Rating.Count > 0)
    {
        onePercentage = Convert.ToInt32(Math.Round(100 * (Convert.ToDouble(Model.Product.Rating.OneCount) / Model.Product.Rating.Count)));
        twoPercentage = Convert.ToInt32(Math.Round(100 * (Convert.ToDouble(Model.Product.Rating.TwoCount) / Model.Product.Rating.Count)));
        threePercentage = Convert.ToInt32(Math.Round(100 * (Convert.ToDouble(Model.Product.Rating.ThreeCount) / Model.Product.Rating.Count)));
        fourPercentage = Convert.ToInt32(Math.Round(100 * (Convert.ToDouble(Model.Product.Rating.FourCount) / Model.Product.Rating.Count)));
        fivePercentage =  Convert.ToInt32(Math.Round(100 * (Convert.ToDouble(Model.Product.Rating.FiveCount) / Model.Product.Rating.Count)));
    }
}

<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <div class="flex items-center gap-2">
            <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">Reviews</h2>

            <div class="mt-2 flex items-center gap-2 sm:mt-0">
                @await Component.InvokeAsync("RatingStars", new { stars = (int)Math.Round(Model.Product.Rating.Score), isBig = true })
                <p class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">(@Model.Product.Rating.Score)</p>
                <a href="#" class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white"> @Model.Product.Rating.Count Reviews </a>
            </div>
        </div>

        <div class="my-6 gap-8 sm:flex sm:items-start md:my-8">
                <div class="shrink-0 space-y-4">
                    <p class="text-2xl font-semibold leading-none text-gray-900 dark:text-white">@Model.Product.Rating.Score out of 5</p>
                    
                    @if (User.Identity is { IsAuthenticated: true })
                    {
                        <button type="button" data-modal-target="review-modal" data-modal-toggle="review-modal" class="mb-2 me-2 rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Write a review</button>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" asp-route-redirectUrl="/Products/ProductDetails/@Model.Product.Sku" class="mb-2 me-2 rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Write a review</a>
                    }
                </div>

            <div class="mt-6 min-w-0 flex-1 space-y-3 sm:mt-0">
                <div class="flex items-center gap-2">
                    <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900 dark:text-white">5</p>
                    <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                    </svg>
                    <div class="h-1.5 w-80 rounded-full bg-gray-200 dark:bg-gray-700">
                        <div class="h-1.5 rounded-full bg-yellow-300" style="width: @fivePercentage%"></div>
                    </div>
                    <a href="#" class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">@Model.Product.Rating.FiveCount <span class="hidden sm:inline">reviews</span></a>
                </div>

                <div class="flex items-center gap-2">
                    <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900 dark:text-white">4</p>
                    <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                    </svg>
                    <div class="h-1.5 w-80 rounded-full bg-gray-200 dark:bg-gray-700">
                        <div class="h-1.5 rounded-full bg-yellow-300" style="width: @fourPercentage%"></div>
                    </div>
                    <a href="#" class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">@Model.Product.Rating.FourCount <span class="hidden sm:inline">reviews</span></a>
                </div>

                <div class="flex items-center gap-2">
                    <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900 dark:text-white">3</p>
                    <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                    </svg>
                    <div class="h-1.5 w-80 rounded-full bg-gray-200 dark:bg-gray-700">
                        <div class="h-1.5 rounded-full bg-yellow-300" style="width: @threePercentage%"></div>
                    </div>
                    <a href="#" class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">@Model.Product.Rating.ThreeCount <span class="hidden sm:inline">reviews</span></a>
                </div>

                <div class="flex items-center gap-2">
                    <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900 dark:text-white">2</p>
                    <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                    </svg>
                    <div class="h-1.5 w-80 rounded-full bg-gray-200 dark:bg-gray-700">
                        <div class="h-1.5 rounded-full bg-yellow-300" style="width: @twoPercentage%"></div>
                    </div>
                    <a href="#" class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">@Model.Product.Rating.TwoCount <span class="hidden sm:inline">reviews</span></a>
                </div>

                <div class="flex items-center gap-2">
                    <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900 dark:text-white">1</p>
                    <svg class="h-4 w-4 shrink-0 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                    </svg>
                    <div class="h-1.5 w-80 rounded-full bg-gray-200 dark:bg-gray-700">
                        <div class="h-1.5 rounded-full bg-yellow-300" style="width: @onePercentage%"></div>
                    </div>
                    <a href="#" class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">@Model.Product.Rating.OneCount <span class="hidden sm:inline">reviews</span></a>
                </div>
            </div>
        </div>


        <div class="mt-6 divide-y divide-gray-200 dark:divide-gray-700">
            @foreach (var reviewEntry in Model.ReviewPage.Items.Select((review, index) => new { Review = review, Index = index }))
            {
                var review = reviewEntry.Review;
                var index = reviewEntry.Index;

                var paddingClass = index == 0 ? "pb-6" : "py-6";

                <div class="gap-3 @paddingClass sm:flex sm:items-start">
                    <div class="shrink-0 space-y-2 sm:w-48 md:w-72">
                        @await Component.InvokeAsync("RatingStars", new { stars = review.Score, isBig = false })

                        <div class="space-y-0.5">
                            <p class="text-base font-semibold text-gray-900 dark:text-white">@review.WriterName</p>
                            <p class="text-sm font-normal text-gray-500 dark:text-gray-400">@review.CreatedDate</p>
                        </div>

                        <div class="inline-flex items-center gap-1">
                            <svg class="h-5 w-5 text-primary-700 dark:text-primary-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    fill-rule="evenodd"
                                    d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            <p class="text-sm font-medium text-gray-900 dark:text-white">Verified purchase</p>
                        </div>
                    </div>

                    <div class="mt-4 min-w-0 flex-1 space-y-4 sm:mt-0">
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">@review.Comment</p>

                        <div class="flex items-center gap-4">
                            <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Was it helpful to you?</p>
                            <div class="flex items-center">
                                <a id="review-thumb-up-@index">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11c.889-.086 1.416-.543 2.156-1.057a22.323 22.323 0 0 0 3.958-5.084 1.6 1.6 0 0 1 .582-.628 1.549 1.549 0 0 1 1.466-.087c.205.095.388.233.537.406a1.64 1.64 0 0 1 .384 1.279l-1.388 4.114M7 11H4v6.5A1.5 1.5 0 0 0 5.5 19v0A1.5 1.5 0 0 0 7 17.5V11Zm6.5-1h4.915c.286 0 .372.014.626.15.254.135.472.332.637.572a1.874 1.874 0 0 1 .215 1.673l-2.098 6.4C17.538 19.52 17.368 20 16.12 20c-2.303 0-4.79-.943-6.67-1.475"/>
                                    </svg>
                                </a>

                                <label for="review-thumb-up-@index" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Yes: @review.NumberOfLikes </label>
                            </div>
                            <div class="flex items-center">
                                <a id="review-thumb-down-@index">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13c-.889.086-1.416.543-2.156 1.057a22.322 22.322 0 0 0-3.958 5.084 1.6 1.6 0 0 1-.582.628 1.549 1.549 0 0 1-1.466.087 1.587 1.587 0 0 1-.537-.406 1.666 1.666 0 0 1-.384-1.279l1.389-4.114M17 13h3V6.5A1.5 1.5 0 0 0 18.5 5v0A1.5 1.5 0 0 0 17 6.5V13Zm-6.5 1H5.585c-.286 0-.372-.014-.626-.15a1.797 1.797 0 0 1-.637-.572 1.873 1.873 0 0 1-.215-1.673l2.098-6.4C6.462 4.48 6.632 4 7.88 4c2.302 0 4.79.943 6.67 1.475"/>
                                    </svg>
                                </a>

                                <label for="review-thumb-down-@index" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No: @review.NumberOfDislikes </label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="mt-6 text-center">
            @await Component.InvokeAsync("Pagination", new { count = Model.ReviewPage.Count, pageNumber = Model.ReviewPage.PageNumber, pageSize = Model.ReviewPage.PageSize })
        </div>
    </div>
</section>

@if (User.Identity is { IsAuthenticated: true })
{
    <div id="review-modal" tabindex="-1" aria-hidden="true" class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0 antialiased">
        <div class="relative max-h-full w-full max-w-2xl p-4">
            <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
                <div class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5">
                    <div>
                        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Add a review for:</h3>
                        <a class="font-medium text-primary-700 hover:underline dark:text-primary-500">@Model.Product.Name</a>
                    </div>
                    <button type="button" class="absolute right-5 top-5 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="review-modal">
                        <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <form asp-controller="Reviews" asp-action="SubmitReview" method="post" class="p-4 md:p-5">
                    <input type="hidden" name="Sku" value="@Model.Product.Sku" />
                    <input id="review-score" type="hidden" name="Score" value="5" />
                    <div class="mb-4 grid grid-cols-2 gap-4">
                        <div class="col-span-2">
                            <div class="flex items-center">
                                <svg id="rating-star-1" class="h-6 w-6 text-gray-300 dark:text-gray-500 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                </svg>
                                <svg id="rating-star-2" class="ms-2 h-6 w-6 text-gray-300 dark:text-gray-500 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                </svg>
                                <svg id="rating-star-3" class="ms-2 h-6 w-6 text-gray-300 dark:text-gray-500 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                </svg>
                                <svg id="rating-star-4" class="ms-2 h-6 w-6 text-gray-300 dark:text-gray-500 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                </svg>
                                <svg id="rating-star-5" class="ms-2 h-6 w-6 text-gray-300 dark:text-gray-500 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                </svg>
                                <span class="ms-2 text-lg font-bold text-gray-900 dark:text-white"><span id="review-score-text">0</span> out of 5</span>
                            </div>
                        </div>
                        <div class="col-span-2">
                            <label for="review-comment" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Comment</label>
                            <textarea name="Comment" id="review-comment" rows="6" class="mb-2 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" required=""></textarea>
                        </div>
                    </div>
                    <div class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5">
                        <button type="submit" class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Submit</button>
                        <button type="button" data-modal-toggle="review-modal" class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script src="~/js/ProductDetails/rating-stars.js"></script>

    @if (User.Identity is { IsAuthenticated: true })
    {
        <script type="text/javascript">
            const reviewScoreManager = new RatingStarsManager("rating-star");
            
            const reviewScoreInput = document.getElementById("review-score");
            const reviewScoreText = document.getElementById("review-score-text");
            
            reviewScoreManager.addListener((score) => {
                reviewScoreInput.value = `${score}`;
                reviewScoreText.innerHTML = `${score}`;
            });
            
            document.addEventListener("DOMContentLoaded", () => {
                reviewScoreManager.setScore(5);
            });
        </script>
    }

    <partial name="_ValidationScriptsPartial" />
}

